service cloud.firestore {
  match /databases/{database}/documents {
    match /groceryLists/{groceryList}/{rest=**} {
      allow read, write: if isMemberOfGroceryList();

      function isMemberOfGroceryList() {
      	return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.groceryListId == groceryList;
  		}
    }
    match /users/{rest=**} {
			allow read: if request.auth.uid != null;
      allow write: if false;
    }
  }
}
